@{
    ViewBag.Title = "Home Page";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Facturación", "Index", "Factura", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
            </ul>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>Universidad Americana</h1>
    <h1>Proyecto Final PIV</h1>
</div>
